NODE_ENV=development
WHITE_ENV=local
JWT_SECRET=lkadnfweipfhjn23io23ihjroi23ndoi23non2o3n
MONGO_URI=mongodb+srv://natanyoad:pU2L36PPrJ7ZgqR5@offisito-preprod.0qmlp13.mongodb.net/offisito?retryWrites=true&w=majority # yoad's account - our preprod db
AWS_KEY_ID=AKIA3FLD3I6YSCWAKFRH
AWS_SECRET_KEY=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
AWS_REGION=us-east-1

